.movieForm {
    padding: 20px;
}

.movieInput {
    margin-right: 15px;
    height: 40px;
    padding: 8px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid black;
}

.movieInput:focus {
    outline: none;
}

.formBtn {
    display: inline-block;
    padding: 10px 18px;
    background-color: rgb(165, 179, 251);
    color: #fafafa;
    border-radius: 8px;
    height: 40px;
    font-size: 18px;
    transition: background-color 250ms linear;
    border: none;
    cursor: pointer;
}

.formBtn:hover, .formBtn:focus {
    background-color: rgb(141, 141, 246);
    outline: none;
}